.hideContent {
    display : none;
}

.isActive {
    display: block;
}


.accordion {
    margin: 100px;
}

.accordion__total {
    margin: 20px 0;
}

.accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    color: white;
    border-radius: 10px;
    padding : 0 25px;
}

.accordion__text {
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 30px;
    margin: 0;
    color: var(--main-bg-color);
    font-size: 18px ;
    font-weight: 400;
    animation: textAnimation 1000ms;
}

.accordion__text--animation {
    opacity: 1;
    animation: textAnimation 1000ms ease-in-out;
}

@keyframes textAnimation {
   0% {
    opacity: 0;
    max-height: 15px ;
   }
   100% {
    opacity : 1;
    max-height: 120px;
   }
}


h3 {
    font-weight: 300;
}

.accordion__icon {
    font-size: x-large;
    animation: iconAnimation 500ms ease-in-out;
}

@keyframes iconAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.accordion__about {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 18%;
}

.accordion__property {
    width: 47%;
    text-align: center;
}

.accordion__property_equip {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .accordion {
        margin: 0 12px;
    }
    
    .accordion__about {
        width: 95%;
    }

    .accordion__property {
        width: 100%;
        text-align: left;
    }

}