section {
    display: flex;
}


.iddentification {
    margin: 30px 50px;
}
.iddentification__main {
    width: 75%;
}

.iddentification__main--title {
    color: var(--main-bg-color);  
}

.iddentification__main--titleBig {
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}

.iddentification__main--titleSmall {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.iddentification__aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.description {
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

@media screen and (max-width: 768px) {
    .iddentification {
        flex-direction: column;
        width: 95%;
        margin: 0 12px;
    }

    .iddentification__main--titleBig {
        margin-top: 20px;
    }

    .iddentification__aside {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .description {
        flex-direction: column;
        width: 95%;
        margin: 0 12px;
    }
}
