.iddentification__aside--name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: end;
    margin-bottom: 15px;
}

.iddentification__aside--nameOf {
    color: var(--main-bg-color);
    text-wrap: wrap;
    width: min-content;
    margin-right: 10px;
}

.iddentification__aside--img {
    border-radius: 50%;
    width: 20%;
}