.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.navBar__link {
    color: var(--main-bg-color);
    text-decoration: none;
    font-size: 95%;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .navBar {
        margin: 12px;
        width : 95%;
    }
    
    .navBar__logo {
        width: 40%;
    }

    nav {
        width: 60%;
        display: flex;
        margin: 0;
        text-align: center;
        justify-content: right;
        gap: 10px;
        text-transform: uppercase;
    };
}
