.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.navBar__link {
    color: var(--main-bg-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .navBar {
        margin: 12px;
        width : 100%
    }
    
    .navBar__logo {
        width: 30%;
        height: 30%;
    }

    nav {
        width: 70%;
        display: flex;
        margin: 0;
        text-align: center;
        justify-content: center;
    };

    .navBar__link {
        margin: 0;
        width: 50%;
        text-wrap: nowrap;
    }
}
