.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.navBar__link {
    color: var(--main-bg-color);
    text-decoration: none;
    margin-left: 30px;
}
